%br/
%br/
.row
  .col-12
    = link_to root_path, class: "btn btn-light" do
      %i.ti.ti-arrow-left
      Back to System
    = link_to pos_path, class: "btn btn-primary m-l-10" do
      %i.ti.ti-cash
      Point of Sale
%br/

- if notice.present?
  .row
    .col-md-12
      .alert.alert-success{role: "alert"}
        %b Message: 
        = notice

.row
  .col-sm-12.col-lg-6.d-flex.align-items-stretch
    .card.w-100.m-h-50rem
      .card-body.p-4
        %h5.card-title.fw-semibold.mb-4
          %i.ti.ti-hourglass-high
          Pending Orders
          %span.badge.bg-secondary.rounded-3.fw-semibold.float-rigt
            = "#{@pending_sales.size} Orders"
        - @pending_sales.each do |sale|
          .row
            .col-4
              %p
                Code:
                %b= sale.code.truncate(11)
            .col-2
              %p
                Name:
                %b= sale.customer_name
            .col-2
              %p
                Amount:
                %b= "$ #{sale.amount&.round(2)}"
            .col-2
              %p
                Items:
                %b= "#{sale.total_items} Items"
            .col-2.text-end
              = link_to cancel_pos_path(id: sale.id), method: :patch, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" do
                %i.ti.ti-trash
              = link_to in_progress_pos_path(id: sale.id), method: :patch, class: "btn btn-primary btn-sm m-l-10" do
                %i.ti.ti-arrow-right
          .row
            .col-12
              %p
                %b Note:
                = sale.note
          .table-responsive
            %table.table.custom-table
              %thead
                %tr
                  %th Item Name
                  %th Size                
                  %th Sugar Level
                  %th $ Price
              %tbody
                - sale.product_sales.each do |product_sale|
                  %tr
                    %td= product_sale.product_size.product.name
                    %td= product_sale.product_size.size
                    %td= "#{product_sale.sugar_level} %"
                    %td= "$ #{product_sale.price&.round(2)}"
          %hr/
                    
  .col-sm-12.col-lg-6.d-flex.align-items-stretch
    .card.w-100
      .card-body.p-4
        %h5.card-title.fw-semibold.mb-4
          %i.ti.ti-clock-hour-4
          In Progress Orders
          %span.badge.bg-warning.rounded-3.fw-semibold.float-rigt
            = "#{@in_progress_sales.size} Orders"
        - @in_progress_sales.each do |sale|
          .row
            .col-4
              %p
                Code:
                %b= sale.code.truncate(11)
            .col-2
              %p
                Name:
                %b= sale.customer_name
            .col-2
              %p
                Amount:
                %b= "$ #{sale.amount&.round(2)}"
            .col-2
              %p
                Items:
                %b= "#{sale.total_items} Items"
            .col-2.text-end
              = link_to cancel_pos_path(id: sale.id), method: :patch, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" do
                %i.ti.ti-trash
              = link_to complete_pos_path(id: sale.id), method: :patch, class: "btn btn-success btn-sm m-l-10" do
                %i.ti.ti-check
          .row
            .col-12
              %p
                %b Note:
                = sale.note
          .table-responsive
            %table.table.custom-table
              %thead
                %tr
                  %th Item Name
                  %th Size                
                  %th Sugar Level
                  %th $ Price
              %tbody
                - sale.product_sales.each do |product_sale|
                  %tr
                    %td= product_sale.product_size.product.name
                    %td= product_sale.product_size.size
                    %td= "#{product_sale.sugar_level} %"
                    %td= "$ #{product_sale.price&.round(2)}"
          %hr/