-# frozen_string_literal: true
= simple_form_for(@sale) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :code
    = f.input :status
    = f.input :customer_name
    = f.input :customer_phone_number
    = f.input :note
    = f.association :user

  .form-actions
    = f.button :submit
