%p#notice= notice

%p
  %b Code:
  = @sale.code
%p
  %b Status:
  = @sale.status
%p
  %b Customer name:
  = @sale.customer_name
%p
  %b Customer phone number:
  = @sale.customer_phone_number
%p
  %b Note:
  = @sale.note
%p
  %b User:
  = @sale.user

= link_to 'Edit', edit_sale_path(@sale)
\|
= link_to 'Back', sales_path
