!!!
%html
  %head
    %title= content_for(:title) || "Cafe Pos System"
    
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/

    = csrf_meta_tags
    = csp_meta_tag
    = yield :head

    %link{:href => "/manifest.json", :rel => "manifest"}/
    %link{:href => asset_path("favicon.png"), :rel => "icon", :type => "image/png"}/
    %link{:href => asset_path("favicon.png"), :rel => "apple-touch-icon"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body{id: "#{controller_name}_#{params[:action]}"}
    #main-wrapper.page-wrapper{"data-header-position" => "fixed", "data-layout" => "vertical", "data-navbarbg" => "skin6", "data-sidebar-position" => "fixed", "data-sidebartype" => "full"}
      .container-fluid
        = yield